<footer id="footer">
    <div class="container">
        <div class="row row-cols-sm-2">
            <div class="col">
                <ul>
                    <li>
                        <a href="/">Inicio</a>
                    </li>
                    <li>
                        <a href="/encargos">Encargos</a>
                    </li>
                    <li>
                        <a href="#">Tienda</a>
                    </li>
                </ul>
            </div>

            <div class="col">
                <ul>
                    <li>
                        <a href="/contacto">Contacto</a>
                    </li>
                    <li>
                        <a href="/terms">Condiciones de compra</a>
                    </li>
                    <li>
                        <a href="/faqs">Preguntas frecuentes</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>