<footer id="footer">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col">
                <ul>
                    <h4 class="text-center text-muted">Servicios</h4>
                    <li>
                        <a href="/encargos">Encargos</a>
                    </li>
                    <li>
                        <a href="#">Tienda</a>
                    </li>
                </ul>
            </div>
            <div class="col display-4">
                LOGO
            </div>
            <div class="col">
                <ul>
                    <h4 class="text-center text-muted">Cont&aacute;ctenos</h4>
                    <li>
                        <a href="#"><img src="/img/email.png" alt="icono contacto"> Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>