<div id="navigation">
    <ul class="navigation-navar">
        <li class="navigation-item">
            <a href="#" class="navigation-item-link">Inicio</a>
        </li>
        <li class="navigation-item">
            <a href="#" class="navigation-item-link">Encargos</a>
        </li>
        <li class="navigation-item">
            <a href="#" class="navigation-item-link">Tienda</a>
        </li>
        <li class="navigation-item">
            <a href="#" class="navigation-item-link">Contacto</a>
        </li>
    </ul>
</div>