<div id="navigation">
    <a href="#" class="menu-close">
        <img src="/img/menu_icon_close.png" alt="close menu icon">
    </a>
    <ul class="navigation-navar">
        <li class="navigation-item">
            <a href="/" class="navigation-item-link">Inicio</a>
        </li>
        <li class="navigation-item">
            <a href="/encargos" class="navigation-item-link">Encargos</a>
        </li>
        <li class="navigation-item">
            <a href="#" class="navigation-item-link">Tienda</a>
        </li>
        <li class="navigation-item">
            <a href="/contacto" class="navigation-item-link">Contacto</a>
        </li>
        <li class="navigation-item my-5">
            <a href="/login" class="btn">Crear cuenta</a>
        </li>
        <li class="navigation-item">
            <a href="/signin" class="btn">Iniciar sesi&oacute;n</a>
        </li>
    </ul>
</div>