<section id="social" class="section-spacing">
    <div class="container">
        <div class="row row-cols-4">
            <div class="col">
                <a href="#"><img src="img/facebook.png" alt="facebook icon"></a>
            </div>
            <div class="col">
                <a href="#"><img src="img/instagram.png" alt="instagram icon"></a>
            </div>
            <div class="col">
                <a href="#"><img src="img/whatsapp.png" alt="whatsapp icon"></a>
            </div>
            <div class="col">
                <a href="#"><img src="img/twitter.png" alt="twitter icon"></a>
            </div>
        </div>
    </div>
</section>