<section id="social" class="section-spacing">
    <div class="container">
        <div class="row row-cols-4">
            <div class="col">
                <a href="#"><img src="https://res.cloudinary.com/waytraveltrek/image/upload/v1630271726/proyectos/liabel/facebook_ulaeoi.png" alt="facebook icon"></a>
            </div>
            <div class="col">
                <a href="#"><img src="https://res.cloudinary.com/waytraveltrek/image/upload/v1630271731/proyectos/liabel/instagram_wfspkr.png" alt="instagram icon"></a>
            </div>
            <div class="col">
                <a href="#"><img src="https://res.cloudinary.com/waytraveltrek/image/upload/v1630271720/proyectos/liabel/whatsapp_ej3gub.png" alt="whatsapp icon"></a>
            </div>
            <div class="col">
                <a href="#"><img src="https://res.cloudinary.com/waytraveltrek/image/upload/v1630271728/proyectos/liabel/twitter_dainga.png" alt="twitter icon"></a>
            </div>
        </div>
    </div>
</section>