<section class="section-spacing" id="hero">
    <div class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-center">Crea tu propio estilo</h3>
                            <figure>
                                <blockquote class="text-center">
                                    <cite>
                                        <p>&quot; Crea un estilo &uacute;nico que diga todo sobre t&iacute;, que cuente tu historia y te defina &quot;</p>
                                    </cite>
                                </blockquote>
                            </figure>
                        </div>
                    </div>

                    <div class="ver-mas">
                        <a href="#nuestros-servicios" class="btn">Saber m&aacute;s</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="nuestros-servicios" class="section-spacing">
    <div class="container">
        <h2 class="text-center title">Nuestros servicios</h2>
        <div class="row row-cols-sm-1 row-cols-md-2">
            <div class="col">
                <a href="/encargos">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-center">Encargos</h4>
                            <img src="img/encargo.png" alt="servicio encargo image">
                            <p class="card-text">Nuestro servicio de encargos est&aacute; destinado a nuestros clientes m&aacute;s exigentes. El proceso es simple y le permite escoger los productos que realmente quiere.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-center">Tienda</h4>
                            <img src="img/tienda.png" alt="servicio tienda imgage">
                            <p class="card-text">Y c&oacute;mo no! Tambi&eacute;n contamos con nuestra propia tienda. Puede encontrar gran variedad de productos de su estilo. Disfrute de tiempos de entrega m&aacute;s r&aacute;pidos.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<h2 class="text-center title">B&uacute;squenos en nuestras plataformas sociales</h2>
{{> social}}