<nav id="nav-section">
    <div class="container-fluid h-100">
        <div class="row h-100 navbar-content">
            <div class="col logo-section">LOGO</div>
            <div class="col menu">
                <img src="/img/menu_icon_open.png" alt="menu icon">
            </div>
        </div>
    </div>
</nav>