<section class="section-spacing" id="hero">
    <div class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-center">Crea tu propio estilo</h3>
                            <figure>
                                <blockquote class="text-center">
                                    <cite>
                                        <p>&quot; Crea un estilo &uacute;nico que diga todo sobre t&iacute;, que cuente tu historia y te defina &quot;</p>
                                    </cite>
                                </blockquote>
                            </figure>
                        </div>
                    </div>

                    <div class="ver-mas">
                        <a href="#nuestros-servicios" class="btn">Saber m&aacute;s</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="nuestros-servicios" class="section-spacing">
    <div class="container">
        <h2 class="text-center title">Nuestros servicios</h2>
        <div class="row row-cols-sm-1 row-cols-md-2">
            <div class="col">
                <a href="/encargos">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-center">Encargos</h4>
                            <img src="https://res.cloudinary.com/waytraveltrek/image/upload/v1630271728/proyectos/liabel/encargo_qdiwj0.png" alt="servicio encargo image">
                            <p class="card-text">Nuestro servicio de encargos est&aacute; destinado a nuestros clientes m&aacute;s exigentes. El proceso es simple y le permite escoger los productos que realmente quiere.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-center">Tienda</h4>
                            <img src="https://res.cloudinary.com/waytraveltrek/image/upload/v1630271741/proyectos/liabel/tienda_nrloar.png" alt="servicio tienda imgage">
                            <p class="card-text">Y c&oacute;mo no! Tambi&eacute;n contamos con nuestra propia tienda. Puede encontrar gran variedad de productos de su estilo. Disfrute de tiempos de entrega m&aacute;s r&aacute;pidos.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="important-info" class="section-spacing">
    <div class="container">
        <h2 class="text-center title">Informaci&oacute;n importante</h2>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <a href="faqs">
                    <div class="card p-3">
                        <div class="card-body">
                            <h4 class="text-center card-title">Preguntas frecuentes</h4>
                            <p class="card-text">
                                En nuestra secci&oacute;n de preguntas frecuentes puede encontrar informaci&oacute;n relevante que m&aacute;s preguntan nuestros clientes. Si tiene alguna duda relacionada con nuestros servicios puede pasar por esta secci&oacute;n. En caso de no encontrar respuesta a su inquietud, no dude en contactarnos y con gusto le atenderemos.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <a href="faqs">
                    <div class="card p-3">
                        <div class="card-body">
                            <h4 class="text-center card-title">Condiciones de compra</h4>
                            <p class="card-text">
                                En nuestra secci&oacute;n de condiciones de compra, les mostramos a nuestros clientes c&oacute;mo es el proceso de compra desde que hace el pedido hasta que llega al destino. Le recomendamos que primeramente lea esta secci&oacute;n, se informe, vea nuestras tarifas iniciales y finales, as&iacute; como las comisiones de env&iacute;o de cada producto.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<h2 class="text-center title">B&uacute;squenos en nuestras plataformas sociales</h2>
{{> social}}