:root {
	--navbar-background: #21201f;
	--shadow-color: #5f605d;
	--site-background: #f4f3ee;
	--fourth-color: #ffcdb2;
	--border-color: #fec89a;
	--base-color: #7ebc89;
	--link-color: #727271;
	--hover-color: #ef6817;
	--footer-background: #383838;
	--nav-background: #8D0801;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font: 16px 'Lucida Grande', Helvetica, Arial, sans-serif;
	background: var(--site-background);
}
a{
	text-decoration: none;
}
.title {
	margin: 100px 0;
	font-size: 2.5em;
	font-weight: 600;
	letter-spacing: 3px;
}
.section-spacing {
	margin: 100px 0;
}
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 50px;
	border-radius: 25px;
	color: var(--site-background);
	background: var(--footer-background);
	font-size: 1.2rem;
	transition: 1.2s;
	font-weight: 600;
	border: 0;
}
.btn:hover {
	color: var(--site-background);
	background: var(--nav-background);
}
.btn.btn-circle {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.form-control {
	border-radius: 30px;
	box-shadow: 6px 6px 20px var(--shadow-color);
	border: 0px;
	height: 50px;
}
.form-control:focus {
	box-shadow: 2px 2px 10px inset var(--shadow-color);
}
.form-control::placeholder {
	color: rgb(85, 85, 85);
	font-size: 1.2em;
}
#navigation {
	position: fixed;
	top: -120vh;
	width: 100vw;
	height: 100vh;
	background: var(--footer-background);
	/* display: none; */
	z-index: 2000;
	transition: 1s;
}
#navigation .menu-close {
	position: absolute;
	top: 2em;
	right: 2em;
	width: 60px;
	height: 60px;
	background: var(--link-color);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 1s;
}
#navigation .menu-close:hover {
	background: var(--nav-background);
}
#navigation .menu-close img {
	width: 50px;
	height: 50px;
}
#navigation.active {
	top: 0;
}
#navigation .navigation-navar {
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	list-style: none;
}
#navigation .navigation-navar .navigation-item {
	font-size: 3em;
	font-weight: 600;
	cursor: pointer;
	margin-bottom: 15px;
}
#navigation .navigation-item-link {
	text-decoration: none;
	color: var(--link-color);
}
#navigation .navigation-item-link::before {
	content: '';
	position: absolute;
	margin-top: 50px;
	width: 0px;
	height: 5px;
	transition: 1s;
}
#navigation .navigation-item-link:hover::before {
	content: '';
	position: absolute;
	background: var(--nav-background);
	width: 100px;
	height: 5px;
}
#navigation .navigation-item-link:hover {
	text-decoration: none;
	color: var(--nav-background);
}
#nav-section {
	background: var(--nav-background);
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	z-index: 1090;
}
#nav-section .navbar-content {
	display: flex;
	align-items: center;
	height: 100%;
}
#nav-section .navbar-content .logo-section {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
#nav-section .navbar-content .logo-section a {
	text-decoration: none;
	cursor: pointer;
}
#nav-section .navbar-content .menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
#nav-section .navbar-content .menu img {
	cursor: pointer;
	width: 50px;
	height: 50px;
	padding: 10px;
	border-radius: 10px;
	transition: 1s;
}
#nav-section .navbar-content .menu img:hover {
	background-color: #690904;
}

#hero {
	width: 100%;
	height: 90vh;
}
#hero .hero-section {
	width: 100%;
	height: 100%;
	background-image: url('https://res.cloudinary.com/waytraveltrek/image/upload/v1630271805/proyectos/liabel/header_image_rqxdrl.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#hero .hero-section .container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#hero .hero-section .container .row {
	width: 100%;
}
#hero .hero-section .card {
	width: 100%;
	background: var(--site-background);
	border-radius: 15px;
	box-shadow: 2px 2px 20px var(--shadow-color);
	margin-bottom: 80px;
}
#hero .hero-section .container .ver-mas {
	display: flex;
	justify-content: center;
	align-items: center;
}
#hero .hero-section .card .card-title {
	margin: 15px 0 25px 0;
}
#hero .hero-section .card blockquote {
	display: block;
	font-size: 1.1rem;
	font-weight: 600;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#nuestros-servicios a {
	text-decoration: none;
	color: black;
}
#nuestros-servicios .card {
	border-radius: 10px;
	box-shadow: 6px 6px 20px var(--shadow-color);
	margin-bottom: 25px;
}
#nuestros-servicios .card .card-body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#nuestros-servicios .card .card-body p {
	font-size: 1.2em;
}
#nuestros-servicios .card img {
	width: 300px;
}
#footer {
	padding: 40px 0px;
	background: var(--footer-background);
}
#footer .row .col {
	display: flex;
	justify-content: center;
}
#footer .row .col ul {
	list-style: none;
}
#footer .row .col ul li {
	font-size: 1.2em;
	margin-bottom: 10px;
}
#footer .row .col ul li img {
	width: 50px;
}
#footer .row .col ul li a {
	text-decoration: none;
	color: var(--link-color);
}
#footer .row .col ul li:hover a {
	text-decoration: none;
	color: var(--nav-background);
}
#encargos-section {
	margin-top: 100px;
}
#contact-form .form-control {
	border-radius: 30px;
	box-shadow: 6px 6px 20px var(--shadow-color);
	border: 0px;
	height: 50px;
}
#contact-form .form-control:focus {
	box-shadow: 2px 2px 10px inset var(--shadow-color);
}
#contact-form .form-control::placeholder {
	color: rgb(85, 85, 85);
	font-size: 1.2em;
}
#social .row .col {
	display: flex;
	justify-content: center;
	align-items: center;
}
#social .row .col img {
	width: 60px;
}
#social .row .col img:hover {
	width: 60px;
	animation: social-media-animation 3s ease-in-out alternate;
	-webkit-animation: social-media-animation 3s ease-in-out alternate;
	-moz-animation: social-media-animation 3s ease-in-out alternate;
	-ms-animation: social-media-animation 3s ease-in-out alternate;
	-o-animation: social-media-animation 3s ease-in-out alternate;
}
#auth-user-section {
	width: 100%;
	height: 100vh;
	margin: 250px 0;
}
#auth-user-section .container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#auth-user-section .card {
	width: 320px;
	background: var(--footer-background);
	color: var(--link-color);
	border-radius: 10px;
}
#auth-user-section .card .card-body .card-title {
	margin: 15px 0 30px 0;
}
#auth-user-section form .submit-btn {
	display: flex;
	justify-content: center;
	margin: 40px 0 5px 0;
}
#auth-user-section .card .has-account{
	color: var(--site-background);
	margin: 20px 0 15px 0;
}
#auth-user-section .card .has-account a{
	color: var(--site-background);
	text-decoration: none;
}
#auth-user-section .card .has-account a:hover{
	text-decoration: underline;
}
#important-info .card {
	color: #21201f;
	border-radius: 10px;
	box-shadow: 6px 6px 20px var(--shadow-color);
	margin-bottom: 25px;
}
#important-info .card::before{
 content: '';
 position: absolute;
 top: -1px;
 left: 0;
 background: var(--nav-background);
 height: 5%;
 width: 0;
 border-radius: 10px;
 transition: 1s;
 overflow: auto;
}
#important-info .card:hover::before{
	width: 100%;
}
#terms ul li{
	margin-bottom: 20px;
	font-size: 1.1rem;
}
#pricing .card .card-body ul li {
	margin-bottom: 8px;
}


@keyframes social-media-animation {
	0% {
		transform: translateY(0px);
		-webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-o-transform: translateY(0px);
	}
	50% {
		transform: translateY(-30px) rotateY(720deg);
		-webkit-transform: translateY(-30px) rotateY(720deg);
		-ms-transform: translateY(-30px) rotateY(720deg);
		-moz-transform: translateY(-30px) rotateY(720deg);
		-o-transform: translateY(-30px) rotateY(720deg);
	}

	100% {
		transform: translateY(0px) rotateY(0deg);
		-webkit-transform: translateY(0px) rotateY(0deg);
		-ms-transform: translateY(0px) rotateY(0deg);
		-moz-transform: translateY(0px) rotateY(0deg);
		-o-transform: translateY(0px) rotateY(0deg);
	}
}
