:root {
	--navbar-background: #ffb5a7;
	--secondary-color: #fcd5ce;
	--site-background: #f8edeb;
	--fourth-color: #f9dcc4;
	--fifth-color: #fec89a;
	--base-color: #7ebc89;
	--link-color: #2F3E46;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
	background: var(--site-background);
}

#navigation {
	position: fixed;
	top: -120vh;
	width: 100vw;
	height: 100vh;
	background: var(--navbar-background);
	/* display: none; */
	z-index: 2000;
  transition: 1s;
}
#navigation .menu-close{
  position: absolute;
  top: 2em;
  right: 2em;
  width: 60px;
  height: 60px;
  border: 1px solid var(--fifth-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s;
}
#navigation .menu-close:hover{
  background: var(--fourth-color);
}
#navigation .menu-close img{
  width: 50px;
  height: 50px;
}
#navigation.active{
	top: 0;
}
#navigation .navigation-navar {
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	list-style: none;
}
#navigation .navigation-navar .navigation-item {
	font-size: 3em;
	font-weight: 600;
	cursor: pointer;
	margin-bottom: 15px;
}
#navigation .navigation-item-link {
	text-decoration: none;
	color: #0c2c3d;
}
#navigation .navigation-item-link::before {
	content: '';
	position: absolute;
	margin-top: 45px;
	width: 0px;
	height: 5px;
	transition: 1s;
}
#navigation .navigation-item-link:hover::before {
	content: '';
	position: absolute;
	background: var(--link-color);
	width: 100px;
	height: 5px;
}
#navigation .navigation-item-link:hover {
	text-decoration: none;
	color: var(--link-color);
}
#nav-section {
	background: var(--navbar-background);
	width: 100%;
	height: 100px;
  position: fixed;
  top: 0;
  z-index: 1090;
}
#nav-section .navbar-content {
	display: flex;
	align-items: center;
}
#nav-section .navbar-content .logo-section {
	margin-left: 50px;
}
#nav-section .navbar-content .menu {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	right: 2em;
  position: fixed;
}
#nav-section .navbar-content .menu img {
	cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  transition: 1s;
}
#nav-section .navbar-content .menu img:hover{
  background-color: var(--fourth-color);
}
