<div class="section-spacing" id="encargos-section">
    <div class="container">
        <div class="row">
            <h1 class="text-center title">Encargos</h1>
            <div class="col-sm-12">
                <p class="text-center">
                    En esta secci&oacute;n puede copiar todos los links para realizar su pedido. Es un proceso simple y le da la posibilidad de encargar lo que realmente necesita.
                </p>
            </div>

            {{!-- <h2 class="text-center title">Formulario de encargos</h2>
            <div id="formulario-encargo">
                <form action="/encargos" method="POST" class="row g-3 needs-validation" novalidate>
                    <div class="col-sm-12 col-md-4">
                        <input type="text" name="name" id="name" class="form-control mb-2" placeholder="Su nombre" required>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <input type="text" name="apellido" id="apellido" class="form-control mb-2" placeholder="Su apellido" required>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <input type="email" name="email" id="email" class="form-control mb-2" placeholder="Su email (opcional)">
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <input type="text" name="address" id="address" class="form-control mb-2" placeholder="Su direcci&oacute;n" required>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="input-group mb-2">
                            <span class="input-group-text" id="">+53</span> <input type="tel" name="telefono" id="telefono" class="form-control" placeholder="Su tel&eacute;fono" required>
                        </div>
                    </div>
                    <h4 class="text-muted">Pedidos de productos</h4>
                    <div class="col-sm-12 col-md-8">
                        <input type="url" name="linkProducto" id="linkProducto" class="form-control mb-2" placeholder="link">
                    </div>
                    <div class="col-6 col-md-2">
                        <input type="text" name="tallaProducto" id="tallaProducto" class="form-control mb-2" placeholder="talla">
                    </div>
                    <div class="col-4 col-md-2">
                        <input type="number" name="catidadProducto" id="catidadProducto" class="form-control mb-2" placeholder="cantidad" required>
                    </div>
                    <div class="col-sm-12 d-flex justify-content-center align-items-center">
                        <button id="agregar-pedido" class="btn btn-success rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Agregar producto">+</button>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Realizar pedido</button>
                    </div>
                </form>
            </div> --}}

        </div>
        <h2 class="text-center title">Listado de productos agregados</h2>
        <div class="row row-cols-1 row-cols-md-4">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title mb-3">Detalle del producto</h4>
                        <p class="card-text">
                            Link:
                            <span class="linkProduct">Link</span>
                        </p>
                        <p class="card-text">
                            Talla:
                            <span class="linkProduct">M</span>
                        </p>
                        <p class="card-text">
                            Cantidad:
                            <span class="linkProduct">5</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body d-flex justify-content-center align-items-center flex-column">
                        <h4 class="card-title text-center">Agregar producto</h4>
                        <a href="/encargos/add" class="btn btn-outline-primary btn-lg rounded-circle"><span class="h2">+</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>