<section id="terms" class="section-spacing">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center title">T&eacute;rminos y condiciones de compra</h1>
                <h3>Estimado cliente:</h3>
                <p>Aseg&uacute;rese de leer nuestras condiciones de compra. Toda la informaci&oacute;n que necesita para hacer sus encargos se encuentra aqu&iacute;. Si luego de leer nuestras condiciones tiene algunas dudas m&aacute;s, entonces puede <a href="/contacto" target="_blank" rel="noopener noreferrer">contactarnos</a> y le responderemos lo m&aacute;s pronto posible. Muchas gracias!!!
                </p>
                <ul>
                    <li>
                        El primer paso es abrir la página de shein, www.shein.com o preferentemente descargar la aplicacion de SHEIN que es mas r&aacute;pida, ahí encontrarán el inicio de la página, está arriba para Mujeres/Hombre/Niños/Hogar, entonces eligen para quien est&aacute;n buscando en ese momento..
                        Luego donde hay tres rayitas arriba a la izquierda, pinchan y encontrarán la ropa por categoría o si es en la aplicación les sale abajo con un ícono de un perchero y dice categorías.. Ej: Blusas 👚 , vestidos 👗 , shorts, mezclilla, ropa de baño, abrigo 🧥etc.
                    </li>
                    <li>
                        👉Una vez que encuentres una prenda que te guste, dale click y te llevará a una nueva ventana, ahi tendrás toda la información que necesitas para revisar si realmente la prenda se ajusta a tus gustos y medidas 👇👇👇
                    </li>
                    <li>
                        Revisa las fotos de la prenda. Fíjate en todas y cada una de las imágenes disponibles para que las veas desde varios ángulos. A veces los costados o espalda pueden ser asimétricos o con otros acabados y escotes. También puedes darte cuenta del tipo de tela.
                    </li>
                    <li>
                        Ahora nos vamos a las tallas. Primero toma un centímetro y mídete, ancho de hombros, caderas, cintura, busto, etc, luego vas donde dice SIZE y si posas el cursor sobre cada talla te saldrán las medidas de esa prenda. Si quieres ver todas las tallas de una sola vista, entonces entra a SIZE GUIDE o Tabla de tallas que muestra las medidas de cada talla .
                    </li>
                    <li>
                        Luego nos fijamos donde dice descripción y podemos encontrar información como tipo de tela, canridad de piezas y otros datos que nos puedan ser de utilidad.
                    </li>
                    <li>
                        Finalmente, y muy IMPORTANTE, los reviews o comentarios de otros clientes. Léanlos ya que será nuestro último filtro antes de decidirnos si comprar o no una prenda.
                    </li>
                    <li>
                        👉El precio en la pagina debe salir USD así que si les sale en euros deben cambiarlo por ajustes, arriba a la derecha
                    </li>
                    <li>
                        Para hacer el pedido deben enviarme el link y una captura de pantalla marcando la talla y color de esa pieza.
                        Como enviar el link?
                        Recomiendo se decarguen la aplicación que esta más organizado todo y para compartir el link es solo darle en la flechita de la derecha que esta abajo de la foto y les sale compartir por WhatsApp y lo envian a uno de los números de los administradores.

                    </li>
                    <li>
                        Al ser un pedido por encargo, el pago se realiza en dos momentos, para confirmar el pedido debe hacer un pago del 60% del total de su pedido y cuando le entregamos el 40% restante.
                    </li>
                    <li>
                        No aceptamos devoluciones, por eso hago hincapié en leer bien las tallas y los comentarios de las personas que ha comprado esa pieza . Compraremos exactamente lo que usted nos pida.. Debe revisar bien todo cuando le entregamos, en caso de que algo venga con defecto solo haremos devolución del dinero si se da cuenta en ese momento tal cual como la política de cualquier tienda, después que se lo lleve a casa no aceptamos nada de vuelta...
                    </li>
                    <li>
                        Que tiempo demora?
                        Actualmente y desde septiembre estamos enviando por Agencia, no nos engañemos, no depende de nosotros, nos han llegado paquetes a los 33, 40, 45 y 50 dias, pero eso depende del movimiento aqui en Cuba, desde La Habana hasta Holguin porque hasta La Habana demora solo de 18 a 22 dias en llegar.. Seria aproximadamente de 35 a 50 dias despues del envio a Cuba.
                    </li>
                    <li>
                        A los que ya tengan su pedido confirmado les vamos agregando a un grupo aparte para dar las informaciones de ese envio especificamente, donde estara al tanto de la compra de su pedido, fecha que entrega la tienda, fecha que salen y llega Cuba, a Holguin y fecha que estaremos haciendo las entregas, direccion donde recogerlo o contacto para entrega a domicilio.

                    </li>
                </ul>
                <a href="/pricing" class="btn btn-lg w-100">Ver precios de env&iacute;o</a>
            </div>
        </div>
    </div>
</section>